adafruit-ampy==1.0.7
beautifulsoup4==4.8.0
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2019.6.16
cffi==1.12.3
cssselect2==0.2.2
defusedxml==0.6.0
html5lib==1.0.1
pathlib==1.0.1
Pillow==6.2.0
pycparser==2.19
Pyphen==0.9.5
six==1.12.0
soupsieve==1.9.3
tinycss2==1.0.2
WeasyPrint==50
webencodings==0.5.1
